body{
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(image.jpg);
    background-size: cover;
    background-position: center;
}
.login-box{
	max-width: 700px;
	float: none;
	margin: 150px auto;
}
.login-left{
	background-color: rgba(211,211,211,0.5); 
	padding: 30px;
}

.login-right{
	background-color: rgba(193, 66, 66, 0.8); 
	padding: 30px;
}
.form-control{
	background-color: transparent !important;
}

a{
	color: #fff !important;
	margin: -125px;
}
h1{
	color: #fff !important;
	margin-top: 200px !important;
	text-align: center;
	text-transform: uppercase;
}
